/**/
.hiprint-printPaper .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 4px 10px;
    margin: 10px 8px 4px 8px;
    width: 38%;
    min-height: 60px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgba(171, 171, 171, 0.2);
}
.hiprint-printPaper .item .iconfont {
    font-size: 1.5rem;
}
.hiprint-printPaper .item span {
    font-size: 14px;
}

