<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forge.admin.modules.system.mapper.SysRoleDeptMapper">

    <delete id="deleteByRoleId">
        DELETE FROM sys_role_dept WHERE role_id = #{roleId}
    </delete>

    <insert id="batchInsert">
        INSERT INTO sys_role_dept (role_id, dept_id, create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.roleId}, #{item.deptId}, NOW())
        </foreach>
    </insert>

</mapper>
