<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forge.modules.screen.mapper.SysScreenRoleMapper">

    <select id="selectRoleIdsByScreenId" resultType="java.lang.Long">
        SELECT role_id FROM sys_screen_role WHERE screen_id = #{screenId}
    </select>

    <select id="selectScreenIdsByRoleId" resultType="java.lang.Long">
        SELECT screen_id FROM sys_screen_role WHERE role_id = #{roleId}
    </select>

    <delete id="deleteByScreenId">
        DELETE FROM sys_screen_role WHERE screen_id = #{screenId}
    </delete>

    <insert id="batchInsert">
        INSERT INTO sys_screen_role (screen_id, role_id) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.screenId}, #{item.roleId})
        </foreach>
    </insert>

</mapper>
